<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">My WEB APP</a>
        </div>

        <div class=" navbar-collapse">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active" *ngIf="isAuthenticated">
                    <a routerLink="/account">Account</a></li>
                <li routerLinkActive="active" *ngIf="!isAuthenticated">
                    <a routerLink="/auth">Authentication</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li *ngIf="isAuthenticated">
                    <a style="cursor: pointer;" (click)="onLogout()">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

 
 
